@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-background-color: #37443c;
    --secondary-background-color: #485e51;
    --primary-color: black;
    --secondary-color: #1d462e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.05rem;
}

button {
    font-family: inherit
}


body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-background-color);
    margin: 20px;
}


main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 40px var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95vw;
    max-width: 1100px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--secondary-color);
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}


form * {
    padding: 5px 10px;
}

form #task-input {
    flex: 0.8;
    max-width: 600px;
    color: var(--secondary-color);
    border-radius: 3px;
    border: 1px solid #aaa;
    letter-spacing: 0.7px;
}

form #task-input::placeholder {
    opacity: 0.4;
}

form #task-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

form button.add-task {
    cursor: pointer;
    flex: 0.1;
    color: white;
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    border-radius: 4px;
    transition: background-color 0.18s;
}

form button.add-task:hover {
    background-color: var(--secondary-background-color);
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filters button {
    padding: 5px 9px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: white;
    border: none;
    border-radius: 4px;
}

.filters button:hover {
    background-color: var(--secondary-background-color);

    color: white;
}

.filters button.picked {
    background-color: var(--primary-background-color);
    color: white;
}

#task-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--secondary-color); */
    padding: 6px 10px;
    gap: 5px;

    & p.task-date {
        margin-bottom: 5px;
        font-size: 0.7rem;
    }

    & p.task-name {
        font-weight: bold;
        color: black;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    /* p.task-name.completed::before {
        content: '✅ ';
    }

    p.task-name.completed::after {
        content: ' ✅';
    } */

    & p.task-name.completed {
        text-decoration: line-through;
        opacity: 0.3;
        color: green;
    }
}

.updaters {
    display: flex;
    gap: 5px;
    font-size: inherit;

    & button {
        background-color: white;
        border: none;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 3px;
        color: var(--main);
        border: 1px solid var(--main);
        transition: all 0.2s;
    }

    & button.hidden {
        display: none;
    }

    & button:hover {
        color: white;
        background-color: var(--main);
    }

    & .delete {
        --main: rgb(158, 57, 57);
    }

    & .complete {
        --main: var(--secondary-background-color);
    }

    & .uncomplete {
        --main: #3f3f3f;
    }
}

input.sort-by-date {
    background-color: white;
    color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
}

input.sort-by-date:hover {
    background-color: var(--primary-background-color);
    color: white;
    border: 1px solid white;
    transform: translateY(-3px);
}

input.sort-by-date:active {
    scale: 1.1;
}

main footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid black;
}


@media (max-width: 950px) {

    * {
        font-size: 0.9rem;
    }
}

@media (max-width: 650px) {

    * {
        font-size: 0.7rem;
    }
}