@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-background-color: #e8f1f8;
    /* very light blue background */
    --secondary-background-color: #cfdfea;
    /* soft pastel blue for cards */
    --third-background-color: #a9c6db;
    /* slightly stronger blue for accents */
    --hover-background-color: #6d6d6d63;
    --primary-color: black;
    --secondary-color: #3d7e97;
    --uncomplete-button-main-color: #3f3f3f;
    --dark-mode-i-background-color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

button {
    font-family: inherit
}


body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background-color);
    padding-top: 20px;
    color: var(--primary-color);
}

body.dark-mode {
    --primary-background-color: #2c2c2c;
    --secondary-background-color: #3f3f3f;
    --primary-color: white;
    --secondary-color: #daf5ff;
    --uncomplete-button-main-color: #adadad;
    --third-background-color: #4a4a4a;
    --dark-mode-i-background-color: var(--third-background-color)
}

body.dark-mode #task-list li,
body.dark-mode form #task-input,
body.dark-mode .filters button,
body.dark-mode .updaters button {
    background-color: var(--third-background-color);
}

body.dark-mode textarea,
body.dark-mode p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body.dark-mode form #task-input {
    border-color: #666;
}

main {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body>main,
body>footer,
body>header {
    width: 95vw;
    max-width: 1100px;
    background-color: var(--secondary-background-color);
}

body header {
    align-self: center;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

body>header *,
body>header * {
    font-size: 1.7rem;
    color: var(--primary-color);
    white-space: nowrap;
}

body>header>.right-side {
    display: flex;
    gap: 13px;
    align-items: center;
}

body>header .dark-mode-button {
    background-color: var(--dark-mode-i-background-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: all 0.15s;
}

body>header .dark-mode-button:hover {
    transform: translateY(-5px);
}

body>header i {
    font-size: 2rem;

    &.fa-moon {
        color: #6C63FF;
        display: block;
    }

    &.fa-sun {
        color: #FFD43B;
        display: none;
    }
}

body.dark-mode>header i {
    &.fa-moon {
        display: none;
    }

    &.fa-sun {
        display: block;
    }
}

main form {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}


form * {
    padding: 5px 10px;
    text-align: center;
}

form #task-input {
    flex: 1;
    /* max-width: 600px; */
    color: var(--secondary-color);
    border-radius: 3px;
    border: 2px solid #aaa;
    letter-spacing: 0.7px;
}

form #task-input::placeholder {
    opacity: 0.6;
}

form #task-input:focus {
    outline: none;
    border-color: var(--primary-background-color);
}

form input.add-task {
    cursor: pointer;
    flex: 0.1;
    color: white;
    background-color: var(--third-background-color);
    border: 1px solid var(--third-background-color);
    border-radius: 4px;
    transition: background-color 0.1s;
}

form input.add-task:hover {
    background-color: var(--secondary-color);
}

body.dark-mode form input.add-task:hover {
    background-color: var(--primary-background-color);
}

.message-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 30px;
    transform: translateY(-100%);
    background-color: var(--primary-background-color);
    transition: transform 0.15s, background-color 0.05s;
}

#message {
    text-align: center;
    font-size: 1rem;
    color: white;

}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filters button {
    padding: 5px 9px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: white;
    border: none;
    border-radius: 4px;
}

.filters button:hover {
    background-color: var(--hover-background-color);

    color: white;
}

.filters button.picked {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

#task-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;

}

#task-list li.completed_li_design {
    background-color: rgba(106, 212, 111, 0.492);
    position: relative;
    opacity: 0.6;

    &::before {
        content: '✅ Completed ✅';
        background-color: white;
        z-index: -1;
        color: rgb(30, 72, 32);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-5deg);
        display: block;
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 0.8rem;
    }
}

#task-list li {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--secondary-color); */
    padding: 6px 10px;
    gap: 5px;
    background-color: var(--third-background-color);

    & textarea,
    & p {
        color: var(--primary-color);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    }


    & p.task-date {
        margin-bottom: 5px;
        font-size: 0.7rem;
    }

    & textarea.task-name {
        font-weight: bold;
        letter-spacing: 1px;
        overflow: auto;
        /* text-overflow: ellipsis; */
        border: 0;
        resize: none;
        outline: none;
        width: 95%;
        background-color: transparent;

    }

    .left-side {
        flex: 4;
    }



    /* p.task-name.completed::before {
        content: '✅ ';
    }

    p.task-name.completed::after {
        content: ' ✅';
    } */

}

.updaters {
    display: flex;
    gap: 10px;
    flex: 1;

    & button {
        background-color: white;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 3px;
        color: var(--main);
        border: 1px solid var(--main);
        transition: all 0.2s;
        font-size: 0.8rem;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1);
        padding: 3px 10px;

    }

    & button.hidden {
        display: none;
    }

    & button:hover {
        color: white;
        background-color: var(--main);
    }

    & .delete {
        --main: rgb(158, 57, 57);
    }

    & .complete {
        --main: rgb(16, 148, 111);
    }

    & .uncomplete {
        --main: var(--uncomplete-button-main-color);
    }
}

input.sort-by-date {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-background-color);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
}

input.sort-by-date:hover {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border: 1px solid white;
    transform: translateY(-3px);
}

input.sort-by-date:active {
    scale: 1.1;
}

body>footer {
    display: flex;
    padding: 20px;
    overflow: hidden;
    color: var(--primary-color);
}

body>footer>small {
    white-space: nowrap;
    font-size: 0.7rem;
    position: relative;
    animation: move 18s linear infinite;
}

@keyframes move {
    from {
        left: 115%;
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
        left: -15%;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 0.9rem;
    }

    .updaters button {
        font-size: 0.7rem;
    }
}

@media (max-width: 800px) {
    body header {
        flex-direction: column;
        gap: 6px;
    }

    .right-side {
        flex-direction: column;
        gap: 0px;
    }

    body header * {
        font-size: 1.4rem;
    }
}

@media (max-width: 930px) {
    form {
        justify-content: center;
        flex-direction: column;
        gap: 7px;
    }

    .updaters {
        flex-direction: column;
        align-items: end;
    }
}