@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-background-color: #8484c0;
    --secondary-background-color: #4d4d7a;
    --primary-color: black;
    --secondary-color: #1d462e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}

button {
    font-family: inherit
}


body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background-color);
    padding-top: 20px;
}


main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 40px var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95vw;
    max-width: 1100px;
}

body header {
    align-self: center;
    margin-bottom: 20px;
}

body header h1 {
    font-size: 2rem;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


form * {
    padding: 5px 10px;
    text-align: center;
}

form #task-input {
    flex: 0.8;
    /* max-width: 600px; */
    color: var(--secondary-color);
    border-radius: 3px;
    border: 2px solid #aaa;
    letter-spacing: 0.7px;
}

form #task-input::placeholder {
    opacity: 0.6;
}

form #task-input:focus {
    outline: none;
    border-color: var(--primary-background-color);
}

form button.add-task {
    cursor: pointer;
    flex: 0.1;
    color: white;
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    border-radius: 4px;
    transition: background-color 0.18s;
}

form button.add-task:hover {
    background-color: var(--secondary-background-color);
}

.message-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 30px;
    transform: translateY(-100%);
    background-color: var(--primary-background-color);
    transition: transform 0.15s, background-color 0.05s;
}

#message {
    text-align: center;
    font-size: 1rem;
    color: white;

}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filters button {
    padding: 5px 9px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: white;
    border: none;
    border-radius: 4px;
}

.filters button:hover {
    background-color: var(--secondary-background-color);

    color: white;
}

.filters button.picked {
    background-color: var(--primary-background-color);
    color: white;
}

#task-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;

}

#task-list li {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--secondary-color); */
    padding: 6px 10px;
    gap: 5px;

    & p.task-date {
        margin-bottom: 5px;
        font-size: 0.7rem;
    }

    & textarea.task-name {
        font-weight: bold;
        color: black;
        letter-spacing: 1px;
        overflow: auto;
        /* text-overflow: ellipsis; */
        border: 0;
        resize: none;
        outline: none;
        width: 95%;

    }

    .left-side {
        flex: 4;
    }



    /* p.task-name.completed::before {
        content: '✅ ';
    }

    p.task-name.completed::after {
        content: ' ✅';
    } */

    & textarea.task-name.completed {
        text-decoration: line-through;
        opacity: 0.3;
        /* color: green; */
    }
}

.updaters {
    display: flex;
    gap: 5px;
    flex: 1;

    & button {
        background-color: white;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 3px;
        color: var(--main);
        border: 1px solid var(--main);
        transition: all 0.2s;
        font-size: 0.8rem;
    }

    & button.hidden {
        display: none;
    }

    & button:hover {
        color: white;
        background-color: var(--main);
    }

    & .delete {
        --main: rgb(158, 57, 57);
    }

    & .complete {
        --main: var(--secondary-background-color);
    }

    & .uncomplete {
        --main: #3f3f3f;
    }
}

input.sort-by-date {
    background-color: white;
    color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
}

input.sort-by-date:hover {
    background-color: var(--primary-background-color);
    color: white;
    border: 1px solid white;
    transform: translateY(-3px);
}

input.sort-by-date:active {
    scale: 1.1;
}

body>footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid black;
    background-color: white;
    width: 95vw;
    max-width: 1100px;
    overflow: hidden;
}

body>footer>small {
    position: relative;
    animation: move 12s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(-100%);
        left: 0;
    }

    to {
        left: 100%;
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    * {
        font-size: 0.9rem;
    }

    .updaters button {
        font-size: 0.6rem;
    }
}